# Redis
GENBOX_REDIS_HOST=
GENBOX_REDIS_PORT=

# MySQL
GENBOX_MYSQL_URL=
GENBOX_MYSQL_USERNAME=
GENBOX_MYSQL_PASSWORD=

# Kafka
GENBOX_KAFKA_BOOTSTRAP_SERVERS=

# OpenAI compatible services
GENBOX_OPENAI_BASE_URL=
GENBOX_OPENAI_API_KEY=
GENBOX_OPENAI_EMBEDDING_BASE_URL=
GENBOX_OPENAI_EMBEDDING_API_KEY=

# Rerank and Tavily
GENBOX_RERANK_URL=
GENBOX_RERANK_API_KEY=
GENBOX_TAVILY_BASE_URL=
GENBOX_TAVILY_API_KEY=

# MinIO
GENBOX_MINIO_ENDPOINT=
GENBOX_MINIO_ACCESS_KEY=
GENBOX_MINIO_SECRET_KEY=

# PGVector
GENBOX_PGVECTOR_HOST=
GENBOX_PGVECTOR_PORT=
GENBOX_PGVECTOR_DATABASE=
GENBOX_PGVECTOR_SCHEMA=
GENBOX_PGVECTOR_USERNAME=
GENBOX_PGVECTOR_PASSWORD=

# Elasticsearch
GENBOX_ELASTICSEARCH_URIS=
GENBOX_ELASTICSEARCH_USERNAME=
GENBOX_ELASTICSEARCH_PASSWORD=

# Neo4j
GENBOX_NEO4J_URI=
GENBOX_NEO4J_USERNAME=
GENBOX_NEO4J_PASSWORD=
GENBOX_NEO4J_DATABASE=

# Admin authentication
GENBOX_AGENT_ADMIN_USERNAME=
GENBOX_AGENT_ADMIN_PASSWORD=
GENBOX_AGENT_ADMIN_TOKEN_SECRET=
